body {
    font-weight:500;
    font-family:"Microsoft YaHei","宋体","Segoe UI","Lucida Grande",Helvetica,Arial,sans-serif,FreeSans,Arimo;
}
#container {
    width: 850px;
    height: 100%;
    margin: 10% auto;
}
.parameter-category{
    float: left;
    width: 20%;
}
.search {
    float: left;
    width: 80%;
}
.analysis-input {
    width: 89%;
    height: 42px;
    padding-left: 13px;
    border: 2px solid #c5464a;
    border-radius: 5px;
    background: transparent;
    top: 0;
    right: 0;
}
.analysis-btn {
    height: 42px;
    width: 10%;
    cursor: pointer;
    float: right;
    font-size: 13px;
    color: #F9F0DA;
    background: #c5464a;
    border-radius: 0 5px 5px 0;
    width: 60px;
    top: 0;
    right: 0;
}
