<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>微信公众号文章解析</title>

        <script type="application/javascript" src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
        <script type="application/javascript" src="js/classie.js"></script>
        <script type="application/javascript" src="js/selectFx.js"></script>
        <script type="application/javascript" src="js/loading.js"></script>
        <script type="application/javascript" src="js/wx/index.js"></script>

        <link rel="stylesheet" type="text/css" href="css/wx/wx.css">
        <link rel="stylesheet" type="text/css" href="css/default.css">
        <link rel="stylesheet" type="text/css" href="css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/cs-select.css" />
        <link rel="stylesheet" type="text/css" href="css/cs-skin-boxes.css" />
        <link rel="stylesheet" type="text/css" href="css/cs-skin-underline.css" />
        <link rel="stylesheet" type="text/css" href="css/loading.css" />
    </head>
    <body scroll="no" style="overflow-x:hidden;overflow-y:hidden">
        <div id="container">
            <div class="parameter-category">
                <section>
                    <select id="articleType" class="cs-select cs-skin-boxes">
                        <option value="" disabled selected>分类</option>
                        <option value="uncategorized" data-class="color-588c75">未分类</option>
                        <option value="tech" data-class="color-b0c47f">科技</option>
                        <option value="finance" data-class="color-f3e395">财经</option>
                        <option value="work" data-class="color-f3ae73">职场</option>
                        <option value="life" data-class="color-da645a">生活</option>
                        <option value="travel" data-class="color-79a38f">旅游</option>
                        <option value="web" data-class="color-c1d099">网站</option>
                        <option value="car" data-class="color-f5eaaa">汽车</option>
                        <option value="game" data-class="color-f5be8f">游戏</option>
                        <option value="history" data-class="color-e1837b">历史</option>
                        <option value="health" data-class="color-9bbaab">健康</option>
                        <option value="house" data-class="color-d1dcb2">房产</option>
                        <option value="dev" data-class="color-f9eec0">编程</option>
                        <!--<option value="#f7cda9" data-class="color-f7cda9">#f7cda9</option>
                        <option value="#e8a19b" data-class="color-e8a19b">#e8a19b</option>
                        <option value="#bdd1c8" data-class="color-bdd1c8">#bdd1c8</option>
                        <option value="#e1e7cd" data-class="color-e1e7cd">#e1e7cd</option>
                        <option value="#faf4d4" data-class="color-faf4d4">#faf4d4</option>
                        <option value="#fbdfc9" data-class="color-fbdfc9">#fbdfc9</option>
                        <option value="#f1c1bd" data-class="color-f1c1bd">#f1c1bd</option>-->
                    </select>
                </section>
            </div>
            <div class="parameter-order">
                <section>
                    <select id="articleOrder" class="cs-select cs-skin-underline">
                        <option value="" disabled selected>序号</option>
                        <option value="001">001</option>
                        <option value="002">002</option>
                        <option value="003">003</option>
                        <option value="004">004</option>
                        <option value="005">005</option>
                        <option value="006">006</option>
                        <option value="007">007</option>
                        <option value="008">008</option>
                        <option value="009">009</option>
                        <option value="010">010</option>
                        <option value="011">011</option>
                        <option value="012">012</option>
                        <option value="013">013</option>
                        <option value="014">014</option>
                        <option value="015">015</option>
                        <option value="016">016</option>
                        <option value="017">017</option>
                        <option value="018">018</option>
                        <option value="019">019</option>
                        <option value="020">020</option>
                    </select>
                </section>
            </div>

            <div class="search">
                <input class="analysis-input" type="text" id="articleUrl" placeholder="请输入公众文章url" />
                <input class="analysis-btn" type="button" id="btnAnalysis" value="解析"/>
            </div>
        </div>
    </body>
</html>